<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>516911058445-ioh4225pvdo49gcbp3kb0oqhl2gt4j7d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.516911058445-ioh4225pvdo49gcbp3kb0oqhl2gt4j7d</string>
	<key>API_KEY</key>
	<string>AIzaSyBVQMd6Q3MaZec5lpvY5mrRpq20grZdM2o</string>
	<key>GCM_SENDER_ID</key>
	<string>516911058445</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.crictalk</string>
	<key>PROJECT_ID</key>
	<string>n-a-c-39adb</string>
	<key>STORAGE_BUCKET</key>
	<string>n-a-c-39adb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:516911058445:ios:ba7485a070d547ffd38f44</string>
	<key>DATABASE_URL</key>
	<string>https://n-a-c-39adb.firebaseio.com</string>
</dict>
</plist>